<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1>Students</h1>
    <div id="students-container">
        <table>
            <thead>
                <tr>
                    <th>Roll Number</th>
                    <th>Name</th>
                    <th>Department</th>
                    <!-- Add more columns as needed -->
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ student.rollno}}</td>
                    <td>{{ student.name }}</td>
                    <td>{{ student.dept_id }}</td>
                    <!-- Add more columns as needed -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>
